<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{title}}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="dist/bundle.css">
    <script type="text/javascript">
        function checkForm(){

            var username = document.getElementById("username").value;
            var oldpass = document.getElementById("oldpassword").value;
            var newpass = document.getElementById("newpassword").value;
            var confirmpass = document.getElementById("confirmpassword").value;
            if(username.length <4){

                alert("username should be 4 or more characters");
                return false;
            }    
            if(oldpass.length < 4){
            
                alert("Old password should be 4 or more characters"); 
                return false;
            }
            if(newpass.length < 4){
            
                alert("New password should be 4 or more characters"); 
                return false;
            }
            if(newpass != confirmpass){

                alert("New passwords dont match!");
                return false;
            }
            if(oldpass == newpass){

                alert("Old and New passwords are the same!");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
				<form class="login100-form validate-form flex-sb flex-w" method="post" onsubmit="return checkForm()">
					{{ form.csrf_token }}
					<span class="login100-form-title p-b-32">
						Reset password
					</span>

                    
					<span class="txt1 p-b-11">
						username
					</span>
					<div class="wrap-input100 validate-input m-b-36" data-validate = "username is required">
						{{  form.username(class_="input100") }}
                        <span class="focus-input100"></span> 
                    </div>

					<span class="txt1 p-b-11">
						Old password
					</span>
					<div class="wrap-input100 validate-input m-b-36" data-validate = "old password is required">
						{{  form.oldpassword(class_="input100") }}
                        <span class="focus-input100"></span> 
                    </div>
					<span class="txt1 p-b-11">
						New password
					</span>
					<div class="wrap-input100 validate-input m-b-12" data-validate = "New password is required">
						{{  form.newpassword(class_="input100") }}
						<span class="focus-input100"></span>
					</div>
					
					<span class="txt1 p-b-11">
						Confirm new password
					</span>
					<div class="wrap-input100 validate-input m-b-12" data-validate = "New passwords dont match">
						{{  form.confirmpassword(class_="input100") }}
						<span class="focus-input100"></span>
					</div>
					

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Reset password
						</button>
					</div>
                    <div style="margin-top:25px;">
                        <a href="/login">Click here to login</a>

                    </div>

				</form>
				
				<div>
						{% if error  %}
						<br/><br/>
						<font style='color:red;' class="txt1 p-b-11">{{error}}</font>
						{% endif %}
				</div>
                
				<div>
						{% if success  %}
						<br/><br/>
						<font style='color:green;' class="txt1 p-b-11">{{success}}</font>
						{% endif %}
				</div>
			</div>
		</div>
	</div>

</body>
</html>
